<div class="starter-template">
  <h1><%= @rubygem.name %></h1>
</div>
<div>
  <dl class="row">
    <dt class="col-sm-3">Authors</dt>
    <dd class="col-sm-9"><%= @rubygem.authors %></dd>
    <dt class="col-sm-3">Total Downloads</dt>
    <dd class="col-sm-9"><%= @rubygem.downloads %></dd>
    <dt class="col-sm-3">Info</dt>
    <dd class="col-sm-9"><%= @rubygem.info %></dd>
  </dl>
</div>
