default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: james-gem-hunt_development

test:
  <<: *default
  database: james-gem-hunt_test

production:
  <<: *default
  database: james-gem-hunt_production
  username: james-gem-hunt
  password: <%= ENV['JAMES-GEM-HUNT_DATABASE_PASSWORD'] %>
